* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    width: 100%;
 }

 header img{
    width: 100%;

 }

 .elso h1{
    text-align: right;
 }

.masodik img{
   width: 40%;
}

#elsosz{
   text-align: right;
   text-align: justify;
   gap: 2rem;
   border: .1rem solid black;
}

.elso{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: right;
   width: 40%;
}
.kulso{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: right;
}
