* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Kártyák ------------------------------------------------------------------------------------------------------------------------  */

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* Horizontal cards */
.card {
  flex: 0 0 600px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.card img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.card h2 {
  margin-top: 1rem;
}

.card .text {
  padding: 0 20px 20px;
}

.card p:first-child {
  text-align: right;
}

.card h2,
p {
  margin-left: 0.5rem;
}


/* Vertical cards ------------------------------------------------------------------------------------------------------------------------ */
.card-v {
  flex: 0 0 600px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.card-v img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-v h2 {
  margin-top: 1rem;

}

.card-v .text {
  padding: 0 20px 20px;
}

.card-v h2,
p {
  margin-left: 0.5rem;
}
#art-right {
  float: right;
  margin-top: -1.3rem;
  margin-right: 0.5rem;

}

header img {
  width: 100vw;
}

.masodik img {
  border: .5rem solid #A44200;
  width: 65vw;
  border-left: none;
  border-radius: 0 50% 50% 0;
}
.kulso img{
  width: 10vw;
  height: 10wv;
  flex-wrap: wrap;
  display: flex;
  
}
.elso h1{
  text-align: right;
  position: relative;
  top: 30rem;
}